:root {
  --bg: #171A1C;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-text: var(--bg);
  --border: #444;
}

body {
  background-color: var(--bg);
}
