.wallet-item {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid var(--border);
  padding: 16px 12px;
  color: var(--text);
}

.wallet-item:last-child {
  border-bottom: none;
}

.wallet-item:hover {
  cursor: pointer;
  background-color: var(--joy-palette-neutral-softBg);
  transition: all 0.2s ease-in-out;
}

.wallet-item img {
  width: 36px;
  height: 36px;
}

.wallet-item-content {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wallet-item-name {
  display: flex;
  align-items: center;
  font-size: var(--fontSize-md);
}

.wallet-item-balance {
  font-size: var(--fontSize-sm);
  color: var(--text-secondary);
}
