.balance-input-container {
  position: relative;
}

.balance-input-balance {
  font-size: 0.875rem;
  color: var(--text-light);
  line-height: 1.2;
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
